{% extends 'base.html'%}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block content%}
          <!-- partial -->
          <div class="main-panel">
            <div class="content-wrapper">
              <div class="row">
                <div class="col-lg-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">MCA 1st YEAR</h4>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                            
                              <th>Full Name</th>
                              <th>Class</th>
                              <th>Division</th>
                              <th>Roll No</th>
                              <th>Mobile No</th>
                              <th>MAC Address</th>
                              <th>Parents Mobile</th>
                              <th>Parents Email</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for a in MCA1 %}
                            <tr>
                              <td>{{a.name}}</td>
                              <td>{{a.classs}}</td>
                              <td>{{a.division}}</td>
                              <td>{{a.rollno}}</td>
                              <td>{{a.mobile}}</td>
                              <td>{{a.macaddress}}</td>
                              <td>{{a.parentmobile}}</td>
                              <td>{{a.email}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">MBA 1st YEAR</h4>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                             
                              <th>Full Name</th>
                              <th>Class</th>
                              <th>Division</th>
                              <th>Roll No</th>
                              <th>Mobile No</th>
                              <th>MAC Address</th>
                              <th>Parents Mobile</th>
                              <th>Parents Email</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for b in MBA1 %}
                            <tr>
                              
                              <td>{{b.name}}</td>
                              <td>{{b.classs}}</td>
                              <td>{{b.division}}</td>
                              <td>{{b.rollno}}</td>
                              <td>{{b.mobile}}</td>
                              <td>{{b.macaddress}}</td>
                              <td>{{b.parentmobile}}</td>
                              <td>{{b.email}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">MCA 2nd YEAR</h4>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              
                              <th>Full Name</th>
                              <th>Class</th>
                              <th>Division</th>
                              <th>Roll No</th>
                              <th>Mobile No</th>
                              <th>MAC Address</th>
                              <th>Parents Mobile</th>
                              <th>Parents Email</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for c in MCA2 %}
                            <tr>
                             
                              <td>{{c.name}}</td>
                              <td>{{c.classs}}</td>
                              <td>{{c.division}}</td>
                              <td>{{c.rollno}}</td>
                              <td>{{c.mobile}}</td>
                              <td>{{c.macaddress}}</td>
                              <td>{{c.parentmobile}}</td>
                              <td>{{c.email}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">MBA 2st YEAR</h4>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                             
                              <th>Full Name</th>
                              <th>Class</th>
                              <th>Division</th>
                              <th>Roll No</th>
                              <th>Mobile No</th>
                              <th>MAC Address</th>
                              <th>Parents Mobile</th>
                              <th>Parents Email</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for d in MBA2 %}
                            <tr>
                             
                              <td>{{d.name}}</td>
                              <td>{{d.classs}}</td>
                              <td>{{d.division}}</td>
                              <td>{{d.rollno}}</td>
                              <td>{{d.mobile}}</td>
                              <td>{{d.macaddress}}</td>
                              <td>{{d.parentmobile}}</td>
                              <td>{{d.email}}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-lg-12 stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">ALL Students</h4>
                      <div class="table-responsive pt-3">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Full Name</th>
                              <th>Class</th>
                              <th>Division</th>
                              <th>Roll No</th>
                              <th>Mobile No</th>
                              <th>MAC Address</th>
                              <th>Parents Mobile</th>
                              <th>Parents Email</th>
                            </tr>
                          </thead>
                          {% for e in all%}
                          <tbody>
                            <tr>
                              <td>{{e.name}}</td>
                              <td>{{e.classs}}</td>
                              <td>{{e.division}}</td>
                              <td>{{e.rollno}}</td>
                              <td>{{e.mobile}}</td>
                              <td>{{e.macaddress}}</td>
                              <td>{{e.parentmobile}}</td>
                              <td>{{e.email}}</td>
    
                            </tr>
                          </tbody>
                          {% endfor%}
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- content-wrapper ends -->
    {%endblock content%}
</body>
</html>